:root{
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    --main: #7DA0CA;
    --azul-escuro: #052659;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: bold;

    transition: .2s linear;
}

body{
    text-transform: uppercase;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main);
    border-radius: 5rem;
}

/*header*/

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: #DFDFDF;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .navbar a{
    font-size: 1.8rem;
    padding: 4rem;
    text-transform: none;
    color: var(--azul-escuro);
    margin: 0 1rem;
    font-family: 'Century Gothic', sans-serif;
}

.header .logo{
    width: 80px;
}

.header .navbar a:hover{
    color: var(--main);
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: #052659;
}

.header .icons div:hover{
    color: var(--main);
}

#menu-btn{
    display: none;
}

/*login-form*/

.header .login-form{
    position: absolute;
    top: 115%;
    right: -105%;
    background: #DFDFDF;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
}

.header .login-form.active{
    right: 2rem;
    transition: .6s linear;
}

.header .login-form h3{
    font-size: 2rem;
    color: var(--azul-escuro);
    text-transform: uppercase;
    margin-bottom: .7rem;
    text-align: center;
}

.header .login-form .box{
    font-size: 1.3rem;
    padding: 1rem 1.2rem;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    margin: .7rem 0;
    color: black;
    width: 100%;
    text-transform: none;
}

.header .login-form .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 2rem 0;
}

.header .login-form .remember label{
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
}

.header .login-form .btn{
    position: relative;
    font-size: 1.3rem;
    background: var(--azul-escuro);
    color: #DFDFDF;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    padding: 0.8rem 3rem;
    margin-top: 1.1rem;
    overflow: hidden; /* Adiciona overflow hidden para ocultar o conteúdo do pseudo-elemento que estenderá além do botão */
    cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
    transition: background-color 0.3s ease;
}

/*fim login-form*/


@media(max-width: 991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 8rem 2rem;
    }

}

@media(max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;right: 0;
        background: #DFDFDF;
        border-top: .2rem solid #b8b8b8;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
    .home{
        background-position: left;
    }

    .home .content h3{
        font-size: 3rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .home .content h3{
        font-size: 2rem;
    }
}

